<h2 class="content-block">Fases</h2>

<div class="content-block">
    <div class="dx-card responsive-paddings">
        <div id="data-grid-demo">

           <app-grid [datos]="fases" 
                     [columnas]="columnas"
                     [model]="fase"
                     (emitInsertData)="logInsertEvent( $event )" 
                     (emitDeleteData)="logRemovingEvent( $event )"
                     (emitUpdateData)="logUpdatingEvent( $event )">
            </app-grid>

        </div>
    </div>
</div>
